@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@import "tailwindcss";
@import 'leaflet/dist/leaflet.css';

body {
  font-family: 'Inter', sans-serif;
  background-color: #f5f7fa; /* Light gray-blue background */
  color: #1a202c; /* Dark text for readability */
}